*{
  margin:0px;
  padding:0px;
}

a:hover{
  color: #6666FF;
}

a{
  color: #0000ff;
  text-decoration: none;
}

a.withbullet {

}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin : 0px;
  background-color: #C8E3FF;
  text-align: center;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0px
}

h3 {
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 4px;
}


table{
  border: none;
}

tbody td {
  border: solid 1px #dddddd;
  padding: 5px;
/*   font-size: 11px; */
}

tr.coloredRow{
  background-color: #DFF3F0;
}

thead td{
  padding: 5px;
  font-size: 13px;
  color: #756598;
  border: solid 1px #756598;
}

ul{
    padding-left:15px;
}



.contentblock{
  background-color: #FFFFFF;
  border: solid 2px LightGray;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-bottom: 5px;
}

.legende{
  font-style: italic;
  text-align:center;
}

.leftspace{
  margin:0px;
  padding-left: 18px;
}

.messageInfo, .messageSuccess, .messageWarning, .messageError, .messageValidation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.messageInfo {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('images/message_info.png');
}
.messageSuccess {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('images/message_success.png');
}
.messageWarning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('images/message_warning.png');
}
.messageError {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('images/message_error.png');
}
.messageValidation {
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('images/message_validation.png');
}


.fileExplorer ul {
  padding-top: 10px;
  border: solid 1px #c4a453;
  background-color: #f9eed0;
  overflow:visible;
}

.fileExplorer ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fileExplorer li {
  display: inline-block;
  list-style: none;

  width:120px;
  margin: 0 10px 10px 0;
  text-align: center;
}

.fileExplorer div{
  text-align:center;
  vertical-align:bottom;
  width:120px;
  height: 100px;
}

.fileExplorer img{
  margin:1px;
  border:none;
}

.fileExplorer img:hover{
  margin:0px;
  border:solid 1px lightblue;
}

#Top {
    background-color: white;
    margin-bottom: 10px;
    border: 2px solid lightgray;
}

#Banner {
  padding: 5px;
}

#Content {
  width:810px;
  float:right;
}

#Page {
  width: 960px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#Middle{
    margin-top: 10px;
    margin-bottom: 10px;
}

#Menu {
  padding: 5px;
  border: solid 2px lightgray;
  background-color: #FFFFFF;
  float:left;
  width: 130px;
}

#Menu ul{
  list-style-position: inside;
  padding-left:0px;
}

#Menu li{
  font-size:13px;

  margin-top: 3px;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

#Footer {
    text-align: center;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    background-color: white;
}

#PageFrame {
  margin: 10px;
  background-color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border: solid 2px lightgray;

}
