

#fileselector ul {
  padding-top: 10px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;

  overflow:visible;
}

#fileselector ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#fileselector li {
  display: inline-block;
  list-style: none;

  width:120px;
  margin: 0 10px 10px 0;
  text-align: center;
  height: 100px;
}

#fileselector div{
  text-align:center;
  vertical-align:middle;
  width:120px;
}

#fileselector img{
  margin:1px;
  border:none;
}


#fileselector div .file {
border: 1px solid green;
}

#fileselector div .folder {

}

#fileselector div.fileSelected {
    border: 1px solid #ff9999;
}

#fileselector div.fileHover {
    background-color: #dddddd;
}
