*{
  margin:0px;
  padding:0px;
}

a:hover{
  color: #6666FF;
}

a{
  color: #0000ff;
  text-decoration: none;
}

a.withbullet {

}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin : 0px;
  background-color: #ddddaa;
  text-align: center;
}

p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

h2{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0px
}

h3 {
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 4px;
}


table{
  border: none;
}

tbody td {
  border: none;
  padding: 5px;
/*   font-size: 11px; */
}

tr.coloredRow{
  background-color: #DFF3F0;
}

thead td{
  padding: 5px;
  font-size: 13px;
  color: #756598;
  border: solid 1px #756598;
}

ul{
    padding-left:15px;
}

.messageInfo, .messageSuccess, .messageWarning, .messageError, .messageValidation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.messageInfo {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('images/message_info.png');
}
.messageSuccess {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('images/message_success.png');
}
.messageWarning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('images/message_warning.png');
}
.messageError {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('images/message_error.png');
}
.messageValidation {
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('images/message_validation.png');
}

#Page {
  width: 960px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 3px solid black;
  padding: 20px;
  background-color: white;
}

#Footer {
    text-align: center;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    background-color: white;
}

