
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f9fafa;
    padding-left: 10px;
    padding-right: 10px;
    font-family: georgia, times, verdana;
}

body.frame {
    background-image: url(./images/page-back.png);
    background-repeat: repeat-x;
    background-color: #d3cebd;
    padding-left: 10px;
    padding-right: 10px;
    font-family: georgia, times, verdana;
}

a {
    color: #597135;
}

a:hover {
    color: #6fa314;
}

ul {
    padding-left: 20px;
    margin-bottom: 0.5em;
}

li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

tr.nextmatch {
    background-color: #cccccc;
}

th {
    padding: 5px;
    border:1px solid #597135;
    color: #597135;
}

td {
    padding: 5px;
    border:1px solid #cccccc;
}

#Page {
    background-image: url(./images/page-back.png);
    background-repeat: repeat-x;
    background-color: #d3cebd;
    margin: 0px auto;
    width: 975px;
}

#PageFrame {
    padding-top: 10px;
    width: 500px;
    margin: auto;
}

#Top {
    background-image: url(./images/top-mesh.png);
    background-repeat: repeat-y;
}

#TopPlayers {
    background-image: url(./images/top-players.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Banner {
    background-image: url(./images/banner-back.png);
    background-repeat: repeat-y;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 3em;
}

#Middle{
    margin-top: 0px;
    margin-bottom: 10px;
}

#TopMenu {
    background-image: url(./images/topmenu-back.png);
    background-repeat: repeat-x;
    background-color: lightblue;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
}

#TopMenu a{
    color: #4b5f2d;
    text-decoration: none;
}

#TopMenu a:hover {
    color: #6fa314;
    text-decoration: none;
}

#TopMenu div.menu_element {
    font-size: 1.4em;
    font-weight: bold;
    height: 35px;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#Content {
}

#ContentFrame {
    background-image: url(./images/block-content-back.png);
    background-repeat: repeat-x;
    background-color: #e9e3db;
    border: solid 1px black;
    margin-bottom: 10px;
    padding: 5px;
}

#ContentFrame p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#Content h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#Content h2 {
    margin-bottom: 0.5em;
}

#Content h3 {
    margin-bottom: 0.5em;
}

#Content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#Bottom {   
}

#Footer {
    background-color: #f9faea;
    text-align: center;
    margin-bottom: 10px;
}

#FooterFrame {
    background-color: none;
    text-align: center;
    margin-bottom: 10px;
}

.contentblock {
    background-image: url(./images/block-content-back.png);
    background-repeat: repeat-x;
    background-color: #e9e3db;
    border: solid 1px black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.paginationMenu {
    text-align: center;
}

.messageInfo, .messageSuccess, .messageWarning, .messageError, .messageValidation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.messageInfo {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/message_info.png');
}
.messageSuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/message_success.png');
}
.messageWarning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/message_warning.png');
}
.messageError {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/message_error.png');
}
.messageValidation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('images/message_validation.png');
}

